body{
    background-color: #121212;
}

.text-white{
    color: white;
}

.text-yellow{
    color: rgb(255, 215, 0);
}

.congratspara{
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    font-size: 18px;
    max-width: 800px;
}   
.title{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.body-inner{
    width: 75%;
    margin: 0 auto;
    height: 100%;
    background-color: rgb(18, 18, 18);
}

.box-1{
    padding: 20px;
    background-color: rgba(255, 215, 0, 0.15);
    height: 200px;
    text-align: center;
    
}

.box-2{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.box-3{
    text-align: center;
}


.box-cards{
    height: 500px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap */
}

.card-1 , .card-2, .card-3{
    width: 30%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    /* background: rgba(255, 255, 255, 0.1); */
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
}
.card-4{
    width: 30%;
    height: 300px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
}
.card-1:hover , .card-2:hover, .card-3:hover,.card-4:hover{
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid yellow;
}

.header-card{
    background: linear-gradient(135deg, rgba(255, 215, 0, 0.1), transparent);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 11%;
    display: flex;
    
}

.badge{
    background: rgba(255, 215, 0, 0.1);
    text-align: center;
    margin: auto 0px 0px 20px;
    width: 300px;
    height: 75%;
    border-radius: 10px;
}

.header-1{
    background: linear-gradient(135deg, rgba(255, 215, 0, 0.1), transparent);
    color: white;
    height: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.desc-1{
    position: relative;
    color: yellow;
    background-color:  rgba(255, 215, 0, 0.1);
    border: 1px solid yellow;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    height: 30px;
    vertical-align: middle;
    line-height: 30px; 
    left: 25px;
    top: -30px;
}

.linkdln-1{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background: rgba(10, 102, 194, 0.1);
    color: rgb(10, 102, 194);
    border-radius: 10px;
    border: 1px solid rgba(10, 102, 194, 0.2);
    margin-top: 200px;
    width: 75%;
    height: 40px;
    left: 40px;
}
.img{
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid yellow;
    margin: 0 auto 1rem; 
    position: relative;  
    top: -20px;
    
}
.header-image{
  
    background: linear-gradient(135deg, rgba(255, 215, 0, 0.1), transparent);
    height: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img-desc{
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
    top: -20px;
    left: 35px;
    width: 80%;
    height: 10%;
    color: yellow;
    background-color:  rgba(255, 215, 0, 0.1);
    border: 1px solid yellow;
    border-radius: 15px;
}

.img-name{
    text-align: center;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

.img-para{
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5rem;
    margin: 40px 20px 0px 20px;

}
.img-linkdln{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background: rgba(10, 102, 194, 0.1);
    color: rgb(10, 102, 194);
    border-radius: 10px;
    border: 1px solid rgba(10, 102, 194, 0.2);
    margin-top: 20px;
    width: 75%;
    height: 40px;
    left: 40px;
}
.box-cards-1{
    display: flex;
    gap: 60px;
}



.linkdln-2{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background: rgba(10, 102, 194, 0.1);
    color: rgb(10, 102, 194);
    border-radius: 10px;
    border: 1px solid rgba(10, 102, 194, 0.2);
    width: 75%;
    height: 40px;
    left: 40px;
    top: 30px;
}
p{
    margin: 10px auto;
}

.name{
    text-align: center;
    color: white;
}

.description{
    text-align: center;
    margin: 50px 20px 0px 20px;
    color: white;
}

.profile-btn{
    width: 250px;
    height: 40px;
    margin: 140px 0px 0px 50px;
    border-radius: 15px;
    background-color: lightblue;
    color: blue;
}


