body{
    background-color: #252424;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

.body{
    background-color: #121212;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.text-white{
    color: white;
}

.text-yellow{
    color: rgb(255, 215, 0);
}

.congratspara{
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    font-size: 18px;
    max-width: 800px;
}   
.title{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.body-inner{
    width: 75%;
    margin: 0 auto;
    height: 100%;
    background-color: rgb(18, 18, 18);
}

.box-1{
    padding: 20px;
    background-color: rgba(255, 215, 0, 0.15);
    height: 200px;
    text-align: center;
    
}

.box-2{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.box-3{
    text-align: center;
}

.box-4{
    display: block;
}

.box-cards{
    height: 400px;
    padding: 0px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.card-1{
    width: 20%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    float: left;
    margin: 5px;
}

.card-1 .header-card{
    background: linear-gradient(135deg, rgba(255, 215, 0, 0.1), transparent);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 11%;
    display: flex;
    
}

.card-1 .header-card .badge{
    background: rgba(255, 215, 0, 0.1);
    text-align: center;
    margin: auto 0px 0px 20px;
    width: 300px;
    height: 75%;
    border-radius: 10px;
}

.card-1:hover{
    background: rgba(255, 255, 255, 0.09);
}


.card-2{
    width: 20%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    float: left;
    margin: 5px;
}

.card-2:hover{
    background: rgba(255, 255, 255, 0.09);
}

.card-2 .header-card{
    background: linear-gradient(135deg, rgba(255, 215, 0, 0.1), transparent);   
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 11%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;    
}

.card-2 .header-card .badge{
    background: rgba(255, 215, 0, 0.1);
    text-align: center;
    justify-content: center;
    margin: auto 0px 0px 10%;
    position: relative;
    margin-top: 65%;
    width: 300px;
    height: 75%;
    border-radius: 10px;
}

.profile-pic{
    align-content: center;
    width: 40%;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid rgba(255, 215, 0, 0.5); 
}
.content{
    position: relative;
    top: 120px;

}

p{
    margin: 9px auto;
}

.name{
    text-align: center;
    color: white;
}

.description{
    text-align: center;
    margin: 50px 20px 0px 20px;
    color: white;
}

.profile-btntype2{
    width: 250px;
    height: 40%;
    position: relative;
    bottom: 0;
    left: 17%;
    margin: 10px 0px 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #173568;
    border: #3a5676;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    font-size: large;
    color: #2d5d9a;
}

.profile-btntype2:hover{
    background-color: #3a5676;
}

.profile-btntype1{
    width: 250px;
    position: relative;
    bottom: 0;
    left: 17%;
    margin: 10px 0px 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #173568;
    border: #3a5676;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    font-size: large;
    color: #2d5d9a;
}

#LinkedInico{
    width: 15%;
    height: 15%;
}

#juryimg{
    width: 30px;
    height: 20%;
}

.jury{
    width: 100px;
    height: 30%;
    background-color: #3a3422;
}

.jury:hover{
    background-color: #635b41;
}